.css_prefix-circle-chart {
    display: flex;
    align-items: center;
}

.css_prefix-circle-chart .css_prefix-title-box {
    margin-left: 25px;
    text-align: left;

}

.css_prefix-circle-chart .css_prefix-title-box .css_prefix-subtitle {
    color: var(--global-font-title);
    font-weight: var(--font-weigh-normal);
    letter-spacing: var(--letter-spacing);
    margin-bottom: 10px;
}

.css_prefix-circle-chart .circleChart_text {
    font-size: var(--font-size-h4) !important;
    font-weight: var(--font-weight-medium) !important;
    color: var(--color-theme-white);
    font-family: var(--global-font-line-height) !important;
    letter-spacing: var(--letter-spacing-three) !important;
}

.css_prefix-circle-chart .css_prefix-subtitle:before {
    display: none;
}

.css_prefix-circle-chart .css_prefix-subtitle {
    color: var(--color-theme-secondary);
}

.css_prefix-circle-chart .css_prefix-subtitle {
    margin-bottom: 0;
    font-size: var(--font-size-normal);
}

@media(max-width: 1300px) and (min-width: 1025px) {
    .css_prefix-circle-chart.d-flex {
        display: block !important;
    }

    .css_prefix-circle-chart .css_prefix-title-box {
        margin-left: 0px;
        margin-top: 30px;
    }
}

@media(max-width: 400px) {
    .css_prefix-circle-chart.d-flex {
        display: block !important;
    }

    .css_prefix-circle-chart .css_prefix-title-box {
        margin-left: 0px;
        margin-top: 20px;
    }
}