.css_prefix-client .owl-carousel .owl-item .css_prefix-client-img img {
    margin: 0 auto;
    width: auto;
    border-radius: var(--border-radius-box);
}

.css_prefix-client .owl-stage-outer {
    padding: 30px 0 30px 0;
    border-radius: var(--border-radius-box);
}

.css_prefix-client .owl-carousel.owl-loaded .owl-nav button.owl-next {
    right: -120px;
}

.css_prefix-client .owl-carousel.owl-loaded .owl-nav button.owl-prev {
    left: -120px;
}

.css_prefix-client-col-6 li {
    width: 16.66%
}

.css_prefix-client-col-5 li {
    width: 20%
}

.css_prefix-client-col-4 li {
    width: 25%
}

.css_prefix-client-col-3 li {
    width: 33.33%
}

.css_prefix-client-col-2 li {
    width: 50%;
}

.css_prefix-client-grid li {
    float: left;
    padding: 30px;
    background-color: var(--color-theme-grey);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.css_prefix-client-grid li svg {
    width: 140px;
}

.css_prefix-client .css_prefix-client-grid li:last-child {
    margin-right: 0 !important;
}

.css_prefix-client-grid li:hover {
    background-color: var(--color-theme-primary);
}

.css_prefix-client-grid li svg path {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.css_prefix-client-grid li:hover svg path {
    stroke: var(--color-theme-secondary);
}

.css_prefix-client-grid {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    list-style-type: none;
}

.css_prefix-client {
    float: left;
    width: 100%;
}

.css_prefix-client .css_prefix-client-grid li {
    text-align: center;
}

.css_prefix-client .css_prefix-client-col-6.css_prefix-client-grid li,
.css_prefix-client .css_prefix-client-col-5.css_prefix-client-grid li,
.css_prefix-client .css_prefix-client-col-4.css_prefix-client-grid li,
.css_prefix-client .css_prefix-client-col-3.css_prefix-client-grid li,
.css_prefix-client .css_prefix-client-col-2.css_prefix-client-grid li {
    min-height: 374px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.css_prefix-client .owl-carousel .owl-item .css_prefix-client-info {
    margin-top: 32px;
    text-align: center;
}

@media(max-width:1560px) {

    .css_prefix-client .owl-carousel.owl-loaded .owl-nav button.owl-prev, 
    .css_prefix-client .owl-carousel.owl-loaded .owl-nav button.owl-next {
        position: relative;
        top: inherit;
        transform: inherit;
        margin-top: 30px;
        text-align: initial;
    }

    .css_prefix-client .owl-carousel.owl-loaded .owl-nav button.owl-next {
        right: 0;
    }

    .css_prefix-client .owl-carousel.owl-loaded .owl-nav button.owl-prev {
        left: 0;
        margin-right: 30px;
    }

    .css_prefix-client .owl-nav {
        text-align: center;
    }
}

@media(max-width:1024px) {
    .css_prefix-client-grid li {
        width: 50%;
    }
}


@media(max-width:767px) {
    .css_prefix-client .owl-stage-outer {
        padding: 30px 0 15px 0;
    }

    .css_prefix-client-grid li {
        width: 100%;
    }

    .css_prefix-client .css_prefix-client-col-5.css_prefix-client-grid li,
    .css_prefix-client .css_prefix-client-col-4.css_prefix-client-grid li,
    .css_prefix-client .css_prefix-client-col-3.css_prefix-client-grid li,
    .css_prefix-client .css_prefix-client-col-2.css_prefix-client-grid li {
        min-height: 300px;
    }
}

@media(max-width:479px) {
    .css_prefix-client-grid li {
        width: 100%;
    }
}