.css_prefix-gallery-img {
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.css_prefix-gallery .css_prefix-gallery-img img {
    object-fit: cover;
    width: 100%;
}

.iqonic-masonry-block.iqonic-metro-block .css_prefix-gallery-img img,
.iqonic-masonry-block.iqonic-metro-block .css_prefix-gallery-img,
.css_prefix-gallery .css_prefix-gallery-grid .css_prefix-gallery-img,
.css_prefix-gallery .css_prefix-gallery-grid .css_prefix-gallery-img img {
    opacity: 1;
    border-radius: 0;
}

.css_prefix-gallery .owl-carousel .owl-item.active.center .css_prefix-gallery-img img {
    opacity: 1;
}

.css_prefix-gallery .g-item:hover .css_prefix-gallery-img img {
    opacity: 1;
}

.css_prefix-gallery .owl-carousel .owl-item {
    transition: transform 0.3s ease-in-out;
}

.css_prefix-gallery .owl-carousel .owl-item.active.center {
    position: relative;
    z-index: 999;
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}

.css_prefix-gallery .owl-carousel .owl-item.active.center .css_prefix-gallery-img,
.css_prefix-gallery .owl-carousel .owl-item.active.center .css_prefix-gallery-info {
    border-radius: var(--border-radius-box);
    overflow: hidden;
}

.css_prefix-gallery .css_prefix-gallery-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-in-out;

    position: absolute;
    width: 100%;
    height: 100%;
    background: #2C604A;
    opacity: 0.9;
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    -webkit-transition: .2s cubic-bezier(.48, .57, .33, .89);
    -o-transition: .2s cubic-bezier(.48, .57, .33, .89);
    transition: .2s cubic-bezier(.48, .57, .33, .89);
}

.css_prefix-gallery .g-item:hover .css_prefix-gallery-info {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    -webkit-transition: .4s cubic-bezier(.48, .57, .33, .89);
    -o-transition: .4s cubic-bezier(.48, .57, .33, .89);
    transition: .4s cubic-bezier(.48, .57, .33, .89);

}

.css_prefix-gallery .g-item:hover .css_prefix-gallery-info {
    /* opacity: 1; */
}

.css_prefix-gallery .css_prefix-gallery-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 100%;
    opacity: 0;

}

.css_prefix-gallery .css_prefix-gallery-info .css_prefix-heading-title {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
    color: var(--color-theme-white);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing-b);
    font-weight: 700;
    top: 40%;
    position: absolute;
    left: 0;
    right: 0;
}

.css_prefix-gallery .g-item:hover .css_prefix-gallery-info .css_prefix-heading-title {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.css_prefix-gallery-grid .css_prefix-gallery-info .zoom,
.css_prefix-gallery .css_prefix-gallery-info .zoom {

    color: var(--color-theme-primary);
    text-align: center;
    font-size: var(--font-size-h6);
    text-transform: uppercase;
    background: var(--color-theme-secondary);
    letter-spacing: 0.5rem;
    font-weight: 700;
    ;
    border-radius: var(--border-radius-box);
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    border-radius: 100px;

    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


.css_prefix-gallery .owl-stage-outer {
    border-radius: var(--border-radius-box);
}

.css_prefix-gallery-col-4 img {
    width: 100px;
}

.css_prefix-gallery .owl-carousel.owl-loaded .owl-nav button.owl-next {
    right: -120px;
}

.css_prefix-gallery .owl-carousel.owl-loaded .owl-nav button.owl-prev {
    left: -120px;
}

.css_prefix-gallery .owl-item:nth-child(3) img {
    width: 656px;
}

.css_prefix-gallery-col-6 li {
    width: 16.66%
}

.css_prefix-gallery-col-5 li {
    width: 20%
}

.css_prefix-gallery-col-4 li {
    width: 25%
}

.css_prefix-gallery-col-3 li {
    width: 33.33%
}

.css_prefix-gallery-col-2 li {
    width: 50%;
}

.css_prefix-gallery-grid li {
    float: left;
    padding: 0;
}

.css_prefix-gallery-grid {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

.css_prefix-gallery {
    float: left;
    width: 100%;
}

.css_prefix-gallery .g-item {
    position: relative;
    list-style: none;
    overflow: hidden;
}

.css_prefix-gallery .g-item .gallery-link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    top: 25px;
    left: 25px;
    z-index: 99;
}

.css_prefix-gallery .g-item:hover .gallery-link {
    opacity: 0.9;
}

.css_prefix-gallery .owl-carousel .owl-dots {
    margin-top: 30px;
}

/* Masonry Metro */
.iqonic-metro-block .iqonic-project-box {
    margin-bottom: 0;
}

.iqonic-metro-block .iqonic-masonry-grid .iqonic-masonry-item, 
.iqonic-metro-block .grid-sizer {
    width: 25%;
    display: block;
}

.iqonic-metro-block .iqonic-masonry-grid .iqonic-masonry-item img {
    width: 100%;
}

.iqonic-metro-block .iqonic-masonry-grid .iqonic-masonry-item.s-25.portrait,
.iqonic-metro-block .iqonic-masonry-grid .iqonic-masonry-item.s-25.landscape {
    width: 50%;
}

.iqonic-masonry-block .iqonic-masonry-item {
    position: relative;
    overflow: hidden;
}

.css_prefix-gallery-grid.css_prefix-gallery-col-2 li, .css_prefix-gallery-grid.css_prefix-gallery-col-3 li {
    padding: 0 16px;
    margin-bottom: 30px;
}

.css_prefix-gallery .css_prefix-gallery-grid.css_prefix-gallery-col-2 .g-item .gallery-link, 
.css_prefix-gallery .css_prefix-gallery-grid.css_prefix-gallery-col-3 .g-item .gallery-link {
    width: calc(100% - 95px);
    height: calc(100% - 77px);
    top: 46px;
    left: 46px;
}

.css_prefix-gallery-detail {
    background: var(--color-theme-primary);
    padding: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: -100%;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.css_prefix-gallery .g-item:hover .css_prefix-gallery-detail {
    bottom: 0;
}

.css_prefix-gallery-detail .css_prefix-subtitle {
    color: var(--color-theme-secondary);
    position: relative;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    padding-left: 0px;
    display: inline-block;
    letter-spacing: var(--letter-spacing-heading-subtitle);
    text-transform: capitalize;
}

.css_prefix-gallery-detail .css_prefix-title {
    color: var(--color-theme-white);
}

@media(max-width:1560px) {

    .css_prefix-gallery .owl-carousel.owl-loaded .owl-nav button.owl-prev, 
    .css_prefix-gallery .owl-carousel.owl-loaded .owl-nav button.owl-next {
        position: relative;
        top: inherit;
        transform: inherit;
        margin-top: 30px;
        text-align: initial;
    }

    .css_prefix-gallery .owl-carousel.owl-loaded .owl-nav button.owl-next {
        right: 0;
    }

    .css_prefix-gallery .owl-carousel.owl-loaded .owl-nav button.owl-prev {
        left: 0;
        margin-right: 30px;
    }

    .css_prefix-gallery .owl-nav {
        text-align: center;
    }
}

@media(max-width:1024px) {

    .iqonic-metro-block .iqonic-masonry-grid .iqonic-masonry-item {
        width: 50%;
    }

    .iqonic-metro-block .iqonic-masonry-grid .iqonic-masonry-item.s-25.portrait, 
    .iqonic-metro-block .iqonic-masonry-grid .iqonic-masonry-item.s-25.landscape {
        width: 100%;
    }

    .iqonic-metro-block .iqonic-masonry-grid .iqonic-masonry-item img {
        width: 100%;
    }

    .css_prefix-gallery-col-6 li,
    .css_prefix-gallery-col-5 li,
    .css_prefix-gallery-col-4 li,
    .css_prefix-gallery-col-3 li,
    .css_prefix-gallery-col-2 li {
        width: 50%;
    }
}

@media(max-width:767px) {
    .css_prefix-gallery .owl-stage-outer {
        padding: 30px 0 15px 0;
    }

    .css_prefix-gallery-col-6 li,
    .css_prefix-gallery-col-5 li,
    .css_prefix-gallery-col-4 li,
    .css_prefix-gallery-col-3 li,
    .css_prefix-gallery-col-2 li {
        width: 100%;
    }

    .css_prefix-gallery .iqonic-masonry-block .css_prefix-gallery-info .css_prefix-heading-title {
        display: none;
    }
}

@media (max-width:480px) {
    .iqonic-metro-block .iqonic-masonry-grid .iqonic-masonry-item {
        width: 100%;
    }

    .iqonic-masonry-block .iqonic-masonry-item .iqonic-project-box img {
        height: 300px;
        object-fit: cover;
    }
}