/* Icon-box-ccss */

.css_prefix-icon-box-style-1 {
	display: flex;
	align-items: center;
	padding: 30px;
	background: var(--color-theme-white);
}

.css_prefix-icon-box-style-1 .icon-box {
	margin-right: 30px;
	text-align: center;
	background: var(--color-theme-grey);
	height: 70px;
	width: 70px;
	line-height: 70px;
	border-left: 3px solid var(--color-theme-secondary);
	border-radius: var(--border-radius);
	margin-top: -10px;
}

.css_prefix-icon-box-style-1 .icon-box .icon svg {
	width: 30px;
}

.css_prefix-icon-box-style-1 .icon-box-content {
	flex: 1;
}

.css_prefix-icon-box-style-1 .icon-box-content .icon-box-title {
	margin: 0;
	margin-bottom: 14px;
	color: var(--color-theme-primary);
}

.css_prefix-icon-box-style-1 .icon-box-content .icon-box-title span {
	color: var(--global-font-title);
}

.css_prefix-icon-box-style-1 .icon-box-content p.icon-box-desc {
	margin: 0;
}

@media (max-width:1220px) and (min-width:1024px) {
	.css_prefix-icon-box-style-1 {
		display: block;
	}

	.css_prefix-icon-box-style-1 .icon-box-content {
		margin-top: 25px;
	}
}

@media (max-width: 440px) {
	.css_prefix-icon-box-style-1 {
		display: block;
	}

	.css_prefix-icon-box-style-1 .icon-box-content {
		margin-top: 25px;
	}

}

/* Icon-box-style-2 */
.css_prefix-icon-box-style-2 {
	display: flex;
	align-items: center;
	padding: 30px;
	background: var(--color-theme-white);
	border-left: 3px solid var(--color-theme-secondary);
}

.css_prefix-icon-box-style-2 .icon-box {
	margin-right: 30px;
	text-align: center;
	background: var(--color-theme-grey);
	height: 90px;
	width: 90px;
	line-height: 90px;
	border-radius: var(--border-radius);
	margin-top: -10px;
}

.css_prefix-icon-box-style-2,
.css_prefix-icon-box-style-2 .icon-box,
.css_prefix-icon-box-style-2 .icon-box svg path {
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.css_prefix-icon-box-style-2:hover {
	background: var(--color-theme-primary);
}

.css_prefix-icon-box-style-2:hover .icon-box {
	background: var(--color-theme-secondary);
}

.css_prefix-icon-box-style-2:hover .icon-box svg path {
	fill: var(--color-theme-primary);
}

.css_prefix-icon-box-style-2:hover .icon-box-content.icon-box-desc {
	color: var(--color-theme-white);
}

.css_prefix-icon-box-style-2 .icon-box svg {
	height: 30px;
}

.css_prefix-icon-box-style-2 .icon-box-content {
	flex: 1;
}

/* Icon-box-style-3 */
.css_prefix-icon-box-style-3 {
	display: block;
	background: transparent;
}

.css_prefix-icon-box-style-3 .icon-box {
	margin-right: 30px;
	text-align: center;
	background: var(--color-theme-white);
	height: 90px;
	width: 90px;
	line-height: 90px;
	border-left: 3px solid var(--color-theme-secondary);
	border-radius: var(--border-radius);
	margin-top: 0;
	margin-bottom: 30px;
}

.css_prefix-icon-box-style-3,
.css_prefix-icon-box-style-3 .icon-box,
.css_prefix-icon-box-style-3 .icon-box svg path {
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.css_prefix-icon-box-style-3:hover .icon-box {
	background: var(--color-theme-primary);
}

.css_prefix-icon-box-style-3:hover .icon-box svg path {
	fill: var(--color-theme-white);
}

.css_prefix-icon-box-style-3 .icon-box svg {
	height: 40px;
}


/* Icon-box-style-4 */
.css_prefix-icon-box-style-4 {
	display: block;
	padding: 40px 40px 55px 40px;
	background-color: var(--color-theme-white);
	position: relative;
}

.css_prefix-icon-box-style-4 .icon-box-digit {
	display: inline-block;
	font-size: var(--font-size-h4);
	font-weight: var(--font-weight-medium);
	line-height: var(--font-letter-spacing-h4);
	letter-spacing: var(--font-letter-spacing-h4);
	color: var(--color-theme-secondary);
}

.css_prefix-icon-box-style-4 .icon-box {
	position: absolute;
	right: 28px;
	bottom: 40px;
	color: var(--color-theme-white);
	z-index: 0;
	font-size: 118px;
	line-height: 118px;
	transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.css_prefix-icon-box-style-4 .icon-box-desc {
	margin-top: 24px;
	margin-bottom: 80px;
}

.css_prefix-icon-box-style-4 .icon-box-desc p {
	margin: 0;
}

/*== responsive ==*/
@media (max-width: 767px) {
	.css_prefix-icon-box-style-4 {
		padding: 30px 30px 30px 30px;
	}

	.css_prefix-icon-box-style-4 .icon-box {
		bottom: 20px;
	}

	.css_prefix-icon-box-style-4 .icon-box .icon svg {
		height: 90px;
		width: 90px;
		line-height: 90px;
	}

	.css_prefix-icon-box-style-4 .icon-box-desc {
		margin-bottom: 60px;
	}
}


/* Icon-box-style-5 */
.css_prefix-icon-box-style-5 {
	display: block;
	padding: 60px;
	background: var(--color-theme-grey);
	position: relative;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.css_prefix-icon-box-style-5:hover {
	background: var(--color-theme-primary);
}

.css_prefix-icon-box-style-5 .icon-box {
	margin-right: 30px;
	text-align: center;
	background: var(--color-theme-white);
	height: 70px;
	width: 70px;
	line-height: 70px;
	margin-bottom: 40px;
}

.css_prefix-icon-box-style-5 .icon-box-title, .css_prefix-icon-box-style-5 .icon-box-desc p {
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.css_prefix-icon-box-style-5.icon-box svg {
	height: 30px;
}

.css_prefix-icon-box.css_prefix-icon-box-style-5:after {
	content: "";
	width: 4px;
	height: 150px;
	background-color: var(--color-theme-secondary);
	transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	-webkit-transition: all .5s ease-in;
	transform: translateY(-50%);
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(-50%, -50%);
}


.css_prefix-slider-box .owl-carousel .owl-stage-outer {
	overflow: visible;
}

.css_prefix-slider-box .owl-carousel .owl-item {
	opacity: 0;
	transition: opacity 500ms;
}

.css_prefix-slider-box .owl-carousel .owl-item.active {
	opacity: 1;
}