.css_prefix-process-box-style-1 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: var(--color-theme-white);
    padding: 50px 40px;
    position: relative;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.css_prefix-process-box-style-1:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: var(--color-theme-grey);
    width: 2px;
    height: 100%;
    padding: 0;
}

.css_prefix-process-box-style-1:hover {
    background: var(--color-theme-primary);
}

.css_prefix-process-box-style-1 .process-box-step,
.css_prefix-process-box-style-1 .process-box-title,
.css_prefix-process-box-style-1 .process-box-desc,
.css_prefix-process-box-style-1 .css_prefix-btn-link .text-btn {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.css_prefix-process-box-style-1:hover .process-box-title,
.css_prefix-process-box-style-1:hover .process-box-desc,
.css_prefix-process-box-style-1:hover .css_prefix-btn-link,
.css_prefix-process-box-style-1:hover .css_prefix-btn-link .text-btn {
    color: var(--color-theme-white);
}

.css_prefix-process-box-style-1 .process-box-step {
    padding: 16px;
    background: var(--color-theme-grey);
    text-align: center;
    margin: 0;
}

.css_prefix-process-box-style-1:hover .process-box-step {
    background: var(--color-theme-white);
}

.css_prefix-process-box-style-1 .process-box-step .process-step-title {
    margin: 0;
    color: var(--color-theme-primary);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-theme-secondary);
    word-break:keep-all;
}

.css_prefix-process-box-style-1 .process-box-step .process-step-number {
    padding-top: 10px;
    margin: 0;
}

.css_prefix-process-box-style-1 .process-box-step span {
    display: block;
}

.css_prefix-process-box-style-1 .process-box-arrow-right .process-box-icon {
    position: absolute;
    top: 0;
    right: -30px;
    background: var(--color-theme-primary);
    color: var(--color-theme-secondary);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: translateY(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.css_prefix-process-box-style-1 .process-box-arrow-right .process-box-icon i{
    transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    -webkit-transition: none;
}


.css_prefix-process-box-style-1:hover .process-box-arrow-right .process-box-icon {
    background: var(--color-theme-secondary);
    color: var(--color-theme-primary);
}

.css_prefix-process-box-style-1 .process-box-content {
    padding-left: 40px;
    /* flex: 1; */
}

.css_prefix-process-box-style-1 .process-box-content .process-box-title {
    margin: 0;
    padding-bottom: 14px;
}

.css_prefix-process-box-style-1 .process-box-content .process-box-desc {
    margin: 0;
}

.css_prefix-process-box-style-1 .process-box-content .css_prefix-btn-container {
    margin-top: 32px;
}

.right.css_prefix-process-box.css_prefix-process-box-style-1 {
display: flex;
justify-content: right;
}

.center.css_prefix-process-box.css_prefix-process-box-style-1 {
    display: flex;
    justify-content: center;
    }



@media (max-width:1305px) and (min-width:1025px) {
    .css_prefix-process-box-style-1 {
        padding: 50px 15px;
    }

    .css_prefix-process-box-style-1 .process-box-content {
        padding-left: 15px;
    }
}

@media(max-width:1024px) {
    .css_prefix-process-box-style-1 .process-box-arrow-right .process-box-icon {
        display: none;
    }

    .css_prefix-process-box-style-1:after {
        display: none;
    }
}

@media(max-width:480px) {
    .css_prefix-process-box-style-1 {
        padding: 50px 30px
    }

    .css_prefix-process-box-style-1 .process-box-content {
        padding-left: 30px;
    }
}

/*=============================== 
css_prefix-process-box-style-2 
====================================*/

.css_prefix-process-box-style-2 .css_prefix-process-image img {
    width: 100%
}

.css_prefix-process-box-style-2 .css_prefix-process-details {
    position: relative;
}

.css_prefix-process-box-style-2 .css_prefix-process-details .process-box-step .process-step-number {
    font-family: var(--highlight-font-family);
    font-size: var(--font-size-h5);
    line-height: var(--font-line-height-h5);
    font-weight: var(--font-weight-semi-bold);
    letter-spacing: var(--letter-spacing-three);
    display: inline-block;
    height: 70px;
    width: 70px;
    line-height: 70px;
    color: var(--color-theme-primary);
    background-color: var(--color-theme-secondary);
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: translateX(30px) translateY(-35px);
    -webkit-transform: translateX(30px) translateY(-35px);
    -o-transform: translateX(30px) translateY(-35px);
    -ms-transform: translateX(30px) translateY(-35px);
    transform: translateX(30px) translateY(-35px);
}

.css_prefix-process-box-style-2 .css_prefix-process-details .process-title {
    margin-bottom: 12px;
}

/*=============================== 
css_prefix-process-box-style-3 
====================================*/

.css_prefix-process-box-style-3 {
    margin-top: 35px;
    padding: 80px 30px 60px;
    position: relative;
    background-color: transparent;
    box-shadow: 0px 24px 84px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 24px 84px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 24px 84px 0px rgba(0, 0, 0, 0.08);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.css_prefix-process-box-style-3:hover {
    background-color: var(--color-theme-primary);
}

.css_prefix-process-box-style-3 .process-box-step {
    position: absolute;
    left: 0;
    right: 0;
    top: -35px;
}

.css_prefix-process-box-style-3 .process-box-step .process-step-number {
    margin: auto;
    height: 70px;
    width: 70px;
    line-height: 70px;
    color: var(--color-theme-primary);
    background-color: var(--color-theme-secondary);
    text-align: center;
    font-family: var(--highlight-font-family);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-medium);
}

.css_prefix-process-box-style-3 .css_prefix-process-details {
    margin-bottom: 40px;
}

.css_prefix-process-box-style-3 .css_prefix-process-details .process-title .process-box-desc p {
    margin-bottom: 0;
}

.css_prefix-process-box-style-3 .process-title .process-box-title,
.css_prefix-process-box-style-3 .process-title .process-box-desc {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.css_prefix-process-box-style-3:hover .process-title .process-box-title,
.css_prefix-process-box-style-3:hover .process-title .process-box-desc {
    color: var(--color-theme-white);
}

.css_prefix-process-box-style-3 .css_prefix-process-image img {
    width: 100%;
}