.css_prefix-title-box.css_prefix-title-box-1 {
    position: relative;
    z-index: 1;
}


.css_prefix-title-box.css_prefix-title-box-1 .css_prefix-heading-title {
    margin-bottom: 16px;
}

.css_prefix-title-box .css_prefix-subtitle {
    color: var(--color-theme-primary);
    position: relative;
    font-weight: var(--font-weight-medium);
    padding-left: 0px;
    display: inline-block;
    letter-spacing: var(--letter-spacing-heading-subtitle);
    text-transform: uppercase;
}

.css_prefix-title-box.css_prefix-title-box-2 .css_prefix-title-desc {
    margin-bottom: 0;
}

.css_prefix-title-box .css_prefix-title-desc {
    margin-top: 16px;
}

.css_prefix-title-box.left .css_prefix-title-desc {
    margin-top: 40px;
}

.css_prefix-title-box .css_prefix-subtitle:before {
    content: "";
    width: 100%;
    height: 3px;
    background: var(--color-theme-secondary);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: -1;
}

.center.css_prefix-title-box {
    margin-bottom: 70px;
}

.css_prefix-title-box.left,
.css_prefix-title-box.right {
    margin-bottom: 30px;
}

/* .image-position-left .css_prefix-title-box {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
} */

.image-position-left .css_prefix-title-box .css_prefix-heading-title {
    margin-bottom: 0;
}

.image-position-left .css_prefix-title-box .css_prefix-title-icon {
    padding: 0 32px 0 0;
}

.image-position-left .css_prefix-title-box.css_prefix-title-box-1 {
    padding: 56px 40px;
}

.css_prefix-title-box-2 .css_prefix-first-word:after {
    height: 10px;
}

.right.css_prefix-title-box.css_prefix-title-box-1 > div {
justify-content: end;
}
.center.css_prefix-title-box.css_prefix-title-box-1 > div {
justify-content: center;
}
 

@media (max-width: 1024px) {
    .center.css_prefix-title-box {
        margin-bottom: 35px;
    }
}


@media(max-width: 580px) {
    .image-position-left .css_prefix-title-box {
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
    }

    .image-position-left .css_prefix-title-box .css_prefix-title-icon {
        padding-bottom: 32px;
    }
}

@media(max-width: 767px) {
    .mobile-text-center .css_prefix-title, .mobile-text-center .css_prefix-title-desc {
        text-align: center;
    }

    .css_prefix-title-box.text-center,
    .css_prefix-title-box.center {
        margin-bottom: 30px;
    }
}